<div class="about-container">
  <h1>About URL Shortener</h1>
  <p>Welcome to the URL Shortener app! This application allows you to shorten long URLs and manage them easily. You can create, view, and delete shortened URLs effortlessly.</p>
  <p>Get started by shortening your first URL!</p>
  <p>Our URL shortener generates unique, compact links by hashing the original URL with SHA-256 and converting the result to a URL-safe Base64 string. The shortened link is created by taking the first 8 characters of this string, ensuring it is both secure and easy to use.</p>
  <p>For more information, visit <a href="https://github.com/9novikoff/UrlShortener" target="_blank">GitHub</a>.</p>
</div>
