<div class="short-url-table">
  <app-short-url (urlCreated)="loadUrls()"></app-short-url>

  <div *ngFor="let url of urls" class="short-url-card">
    <div>
      <p><strong>Original URL:</strong> <span class="shortened-url">{{ url.originalUrl }}</span></p>
      <p><strong>Shortened URL:</strong> <span class="shortened-url">{{ url.shortUrl }}</span></p>
      <button *ngIf="authService.getId()==url.userId || authService.getRole()=='Admin'" class="info-btn" (click)="openUrlInfo(url.id)">More info</button>
      <button *ngIf="authService.getId()==url.userId || authService.getRole()=='Admin'" class="delete-btn" (click)="deleteUrl(url.id)">Delete</button>
    </div>
  </div>
</div>
